<h1>Presents</h1>

<ul>
  <% for present in @presents %>
    <li
    <% if present.reserved == true %>
      class="reserved"
  <% else %>
  <% end %>  
  >
  <%= link_to present.name, reserve_path(:present => present.id) %>
  </li>
<% end %>
</ul>
