<% if current_user.admin == true %>
  <%= link_to image_tag('pencil_icon.png'), manage_presents_path, :class => 'manageImage' %>
<% end %>
<table id="presents_table">
  <thead>
    <th>Nimi</th>
    <th>Kuvaus</th>
    <th>Varattu</th>
    <th></th>
  </thead>
  <tbody>
  <% for present in @presents %>
    <tr>
      <td><%= present.name %></td>
      <td><%= present.description %></td> 
      <td> 
    <% if present.reserved == true %>
      True
    <% else %>
      False
    <% end %>
  </td> 
  <td>
<%= link_to  'Varaa', reserve_path(:present => present.id) %>
</td>
    </tr>
<% end %>
  </tbody>
</table>


