<h2>Lahjojen hallinnointi</h2>

<%= link_to "Lisää uusi", new_present_path %>
<table id="presents_table">
  <thead>
    <th>Lahja</th>
    <th>Varaaja</th>
    <th></th>
    <th />
  </thead>
  <tbody>
 
    <% for present in @presents %>
      <tr>

        <td> <%= present.name %> </td>
        <td>
          <% if present.reserver != nil %>
            <%= User.find(present.reserver).username %>
          <% end %> 
        </td>
      <td>
        <%= link_to "Muokkaa", edit_present_path(present) %> </td>
      <td>
        <a href="link">Poista</a>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
 
