<% for present in @presents %>
  <p><%= present.name %>
      <%= link_to "Edit", edit_present_path(present) %> 
      <a href="link">Destroy </a>
  <% if present.reserver != nil %>
    <%= User.find(present.reserver).username %>
  <% end %>
  </p>
<% end %>
 
