<h2>Juhlapaikka</h2>
<p>
Hääjuhlaa vietetään Kangasalla Tiihalassa <a href="http://www.ali-marttila.com">Ali-Marttilan juhlatalolla.</a> 
Siirtymiseen kirkolta juhlapaikkaan olemme varanneet noin tunnin verran, alkumalja nostetaan n klo 16.30. 
Olemme varanneet bussikuljetuksen kirkolta juhlapaikkaan, johon voit halutessasi osallistua. Tarkemmat tiedot
bussikyydistä saatte juhlapäivänä kirkko-ohjelmassa. Ilmaisethan halukkuutesi bussikyytiin ilmoittautumisen yhteydessä.
Ali-Marttilassa parkkitilaa on hyvin ja se on maksutonta.</p>
