// Place all the styles related to the Present controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 24px;
  margin: 0;
}

ul li a {
  text-decoration: none;
  margin: 0;
}

.reserved {
  text-decoration: line-through;
}

li + ul {
  display: inline;
  background-color: red;
}

li + ul a {
  color: blue;
  font-size: 16px;
  margin-left: 20px;
}

.present_line:hover {
  background-color: red;
  cursor : pointer;
}

.present_description {
  margin: 0;
  padding: 0;
}
