// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user_table {
  border: solid 1px black;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px;
}

#user_table th {
  background: #D85DBB;
  color: #F5F99D;
  padding-right: 1em;
}

#user_table td {
  background:white;
  padding: 1em;
}

